<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <p>hi,<!-- nama user --></p> <%- include('./partials/nav.ejs') %>
    <p style=></p>
    <hr>
    <h1>Nihk Chocolate</h1>
    <hr><br>

    <p>
        Masok dulu kakak-kakak, adek-adek, ibuk-ibuk
        <%- include('./partials/LoginReg.ejs') %>
    </p>
</body>
</html>