<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nih Registration</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <h1>Registration</h1>
    <hr />
    <br />

    <form action="/register" method="post">
      <div>
        <label for="title">Username</label><br />
        <input type="text" name="name" id="" /><br /><br />

        <label for="title">Email</label><br />
        <input type="text" name="email" id="" /><br /><br />

        <label for="title">Password</label><br />
        <input type="text" name="password" id="" /><br /><br />
      </div>
      <div>
        <label for="role">Roles</label>
        <select name="role" id="role">
          <% user.forEach(el => { %>
          <option value="<%= el.role %>"><%= el.role %></option>
          <% }) %>
        </select>
      </div>
      <div>
        <br><br>
        <button type="submit">
            Submit
        </button>
      </div>
    </form>
  </body>
</html>
