<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nih Registration</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <h1>Registration</h1>
    <hr><br>

    <form action="" method="post">
        <div>
            <label for="title">Username</label>
            <input type="text" name="name" id="">
            <label for="title">Email</label>
            <input type="text" name="email" id="">
            <label for="title">Password</label>
            <input type="text" name="password" id="">
        </div>
        <div>
            <label for="title">Roles</label>
            <input type="text" name="role" id="">
        </div>
    </form>

</body>
</html>